<p>
  <%# <%= User.find(comment.user_id).email %> %>
</p>
<p>
	<%= comment.body %>
</p>

<% if user_signed_in? && current_user.id == comment.user_id  %>
<p>
  <%= link_to 'Удалить комментарий', [comment.post, comment],
               :confirm => 'Вы уверены, что хотите удалить комментарий?',
               :method => :delete %>
</p>
<% end %>
