    <div class="section3">
        <div id="grid_section3" class="">

          <div class="section3_s1">
            <div class="section3_p1">04.03.2022</div>
            <div class="section3_p2">Новые секонды в Москве</div>
            <div class="section3_p1">Автор</div>
            <div class="section3_p3">Winteresy</div>
            <div class="section3_p1">Статья</div>
            <div class="section3_p3">В нынешней ситуации, когда закрыто большинство магазинов, секонды становятся прекрасной альтернативной, там вы можете найти вещи известных брендов или закрывшихся магазинов...</div>
            <div class="section3_button1">
              <div class="section3_button1_p1">куда сходить</div>
            </div>
          </div>

          <div class="section3_s2"></div>

        </div>
      </div>
      <div class="section4">
        <div class="section4_line1"></div>
        <div class="bs">
          <marquee class = "skroll" scrolldelay="20" truespeed>
              <p class = "section4_p1">статьи &nbsp; &nbsp;  &nbsp; &nbsp;  &nbsp; &nbsp; статьи &nbsp; &nbsp;  &nbsp; &nbsp;  &nbsp; &nbsp; статьи &nbsp; &nbsp;  &nbsp; &nbsp;  &nbsp; &nbsp; статьи</p>
            </marquee>
        </div>
        <div class="section4_line1"></div>
      </div>
      <div class="section5">
        <div id="grid_section5">
          <div class="section5_s1">
            <div class="section5_img1"></div>
            <div id="grid_section5_div">
              <div class="section_s1_div1">
                <div class="section5_p1">09.02.2022</div>
                <div class="section5_p2">Где найти вещи закрытых магазинов</div>
                <div class="section5_p3"><находка>  <секонды></div>
              </div>
              <div class="s5_d2"></div>
              <div class="favorites"></div>
              </div>
          </div>
          <div class="s5_d"></div>
          <div class="section5_s2">
            <div class="section5_img2"></div>
            <div id="grid_section5_div">
              <div class="section_s2_div1">
                <div class="section5_p1">03.02.2022</div>
                <div class="section5_p2">Подарок на 14 февраля</div>
                <div class="section5_p3"><подарок></div>
              </div>
              <div class="s5_d2"></div>
              <div class="favorites"></div>
              </div>
          </div>
          <div class="s5_d1"></div>
          <div class="section5_s3">
            <div class="section5_img3"></div>
            <div id="grid_section5_div">
              <div class="section_s3_div1">
                <div class="section5_p1">02.02.2022</div>
                <div class="section5_p2">Подборка винтажных ваз</div>
                <div class="section5_p3"><для дома></div>
              </div>
              <div class="s5_d2"></div>
              <div class="favorites"></div>
              </div>
          </div>
          </div>
        </div>


        <div class="section6">
          <div id="grid_section6">
            <div class="section6_s1">
              <div class="section6_img1"></div>
              <div id="grid_section6_div">
                <div class="section_s1_div1">
                  <div class="section6_p1">01.02.2022</div>
                  <div class="section6_p2">Ламбада  Маркет 6-7 марта</div>
                  <div class="section6_p3"><анонс></div>
                </div>
                <div class="s6_d2"></div>
                <div class="favorites"></div>
                </div>
            </div>
            <div class="s6_d"></div>
            <div class="section6_s2">
              <div class="section6_img2"></div>
              <div id="grid_section6_div">
                <div class="section_s2_div1">
                  <div class="section6_p1">29.01.2022</div>
                  <div class="section6_p2">Находка недели nadenka_vintage</div>
                  <div class="section6_p3"><находка></div>
                </div>
                <div class="s6_d2"></div>
                <div class="favorites"></div>
                </div>
            </div>
            <div class="s6_d1"></div>
            <div class="section6_s3">
              <div class="section6_img3"></div>
              <div id="grid_section6_div">
                <div class="section_s3_div1">
                  <div class="section6_p1">25.01.2022</div>
                  <div class="section6_p2">Вечер с вином  и винилом</div>
                  <div class="section6_p3"><куда сходить></div>
                </div>
                <div class="s6_d2"></div>
                <div class="favorites"></div>
                </div>
            </div>
            </div>
          </div>

          <div class="section7">
            <div class="section4_line1"></div>
            <div class="bs">
              <marquee class = "skroll" scrolldelay="20" truespeed>
                  <p class = "section4_p1">магазин &nbsp; &nbsp;  &nbsp; &nbsp;  &nbsp; &nbsp; магазин &nbsp; &nbsp;  &nbsp; &nbsp;  &nbsp; &nbsp; магазин &nbsp; &nbsp;  &nbsp; &nbsp;  &nbsp; &nbsp; магазин</p>
                </marquee>
            </div>
            <div class="section4_line1"></div>
            <div class="div_arrow">
              <a href="https://acsel323.github.io/shmot/shops">
              <div id="grid_div_arrow" class="">
                <div class="arrow_p1">Выбери свой секонд</div>
                <div class="s_arrow"></div>
                <div class="arrow"></div>
              </div></a>
            </div>
          </div>

          <div class="section8">
            <div id="grid_section8">
              <div class="section8_s1">
                <div class="section8_img1"></div>
                <div id="grid_section8_div">
                  <div class="section_s1_div1">
                    <div class="section8_p1">Кропоткинская</div>
                    <div class="section8_p2">Svalka.me</div>
                  </div>
                  <div class="s8_d2"></div>
                  <div class="like"></div>
                  </div>
              </div>
              <div class="s8_d"></div>
              <div class="section8_s2">
                <div class="section8_img2"></div>
                <div id="grid_section8_div">
                  <div class="section_s2_div1">
                    <div class="section8_p1">Китай-город</div>
                    <div class="section8_p2">Oknostore</div>
                  </div>
                  <div class="s8_d2"></div>
                  <div class="like"></div>
                  </div>
              </div>
              <div class="s8_d1"></div>
              <div class="section8_s3">
                <div class="section8_img3"></div>
                <div id="grid_section8_div">
                  <div class="section_s3_div1">
                    <div class="section8_p1">online</div>
                    <div class="section8_p2">Dran.vintage</div>
                  </div>
                  <div class="s8_d2"></div>
                  <div class="like"></div>
                  </div>
              </div>
              </div>
            </div>

            <div class="section9">
              <div class="section4_line1"></div>
              <div class="bs">
                <marquee class = "skroll" scrolldelay="20" truespeed>
                    <p class = "section4_p1">мероприятия &nbsp; &nbsp;  &nbsp; &nbsp;  &nbsp; &nbsp; мероприятия &nbsp; &nbsp;  &nbsp; &nbsp;  &nbsp; &nbsp; мероприятия &nbsp; &nbsp;  &nbsp; &nbsp;  &nbsp; &nbsp; мероприятия</p>
                  </marquee>
              </div>
              <div class="section4_line1"></div>
              <div class="div_arrow">
                <a href="https://acsel323.github.io/shmot/events">
                <div id="grid_div_arrow" class="">
                  <div class="arrow_p1">Выбери мероприятие</div>
                  <div class="s_arrow"></div>
                  <div class="arrow"></div>
                </div></a>
              </div>
            </div>

          <div class="section11">
            <div id="grid_section11">
              <div class="section11_s1">
                <div class="section11_img1"></div>
                <div id="grid_section11_div">
                  <div class="section_s1_div1">
                    <div class="section11_p1">Таганская</div>
                    <div class="section11_p2">20.03.2022 <br> Пакет вещей за 2000 руб</div>
                    <div class="section11_p3"><маркет></div>
                  </div>
                  <div class="s11_d2"></div>
                  <div class="finger"></div>
                  </div>
              </div>
              <div class="s11_d"></div>
              <div class="section11_s2">
                <div class="section11_img2"></div>
                <div id="grid_section11_div">
                  <div class="section_s2_div1">
                    <div class="section11_p1">Нагорная</div>
                    <div class="section11_p2">03.01.2022 <br> Показ зимней спортивной одежды</div>
                    <div class="section11_p3"><показ></div>
                  </div>
                  <div class="s11_d2"></div>
                  <div class="finger"></div>
                  </div>
              </div>
              <div class="s11_d1"></div>
              <div class="section11_s3">
                <div class="section11_img3"></div>
                <div id="grid_section11_div">
                  <div class="section_s3_div1">
                    <div class="section11_p1">Кропоткинская</div>
                    <div class="section11_p2">06.07.2022 <br> День скидок</div>
                    <div class="section11_p3"><маркет></div>
                  </div>
                  <div class="s11_d2"></div>
                  <div class="finger"></div>
                  </div>
              </div>
              </div>
            </div>
            <div class="section12">
              <div class="section4_line1"></div>
              <div class="bs">
                <marquee class = "skroll" scrolldelay="20" truespeed>
                    <p class = "section4_p1">сдать вещи &nbsp; &nbsp;  &nbsp; &nbsp;  &nbsp; &nbsp; сдать вещи &nbsp; &nbsp;  &nbsp; &nbsp;  &nbsp; &nbsp; сдать вещи &nbsp; &nbsp;  &nbsp; &nbsp;  &nbsp; &nbsp; сдать вещи</p>
                  </marquee>
              </div>
              <div class="section4_line1"></div>
            </div>
            <div class="section3">
              <div id="grid_section3" class="">

                <div class="section13_s1">
                  <div class="section13_p1">01.02.2022</div>
                  <div class="section13_p2">Места приёма вещей</div>
                  <div class="section13_p1">Автор</div>
                  <div class="section13_p3">shmot</div>
                  <div class="section13_p1">Статья</div>
                  <div class="section13_p3">В этих секондах вы можете сдать свои старые вещи на переработку.</div>
                  <div class="section13_button1">
                    <div class="section13_button1_p1">переработка</div>
                  </div>
                </div>
                <div class="section13_s2"></div>
              </div>
            </div>
            <div class="futer">
              <div class="futer_div1">
                <div id="grid_futer" class="">
                  <div class="futer_s1">
                    <a href="https://acsel323.github.io/shmot/">
                    <div class="futer_logo"></div></a>
                    <div class="icon">
                      <div id="grid_icon" class="">
                        <div class="icon1"></div>
                        <div class="div_icon"></div>
                        <div class="icon2"></div>
                      </div>

                    </div>
                  </div>
                  <div class="div_fr"></div>

                  <div class="futer_s2">
                    <div class="futer_s2_p1">Подпишитесь на новости, чтобы всегда быть в курсе новых событий!</div>
                    <div class="futer_s2_p2">Email</div>
                    <div class="futer_s2_line"></div>
                    <div class="futer_s2_button">
                      <div class="futer_s2_b1">Подписаться</div>
                    </div>
                  </div>

                  <div class="div_fr"></div>

                  <div class="futer_s3">
                    <div class="futer_s3_p">Для партнёров</div>
                    <div class="futer_s3_p">Бренд</div>
                    <div class="futer_s3_p">Контакты</div>
                  </div>

                </div>
              </div>
              <div class="futer_div2">
                <div class="futer_div2_p">©ШМОТ 2022</div>
              </div>
    </div>
